<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bagian Judul -->
    <title>Dashboard | Edit</title>

    <!-- Bagian Icon -->
    <link rel="shortcut icon" href="../images/icon.png" />

    <!-- Bagian CSS Sendiri -->
    <link rel="stylesheet" href="/css/dashboard.css" />

    <!-- Bagian CSS Untuk Bootstrap -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <!-- Sidebar -->
        <div
          class="row col-auto col-md-3 col-xl-2 px-sm-2 px-0 shadow"
          id="sidebar"
        ></div>

        <!-- Main Content -->
        <div class="main-content col px-0">
          <!-- Header -->
          <header
            class="d-flex flex-row align-items-center justify-content-between shadow-sm py-3"
            id="header"
          ></header>

          <!-- Main Content Body -->
          <main class="p-3">
            <!-- Breadcrumb -->
            <nav
              style="--bs-breadcrumb-divider: '>'"
              aria-label="breadcrumb"
              class="breadnav fw-bold px-3 pt-3"
            >
              <!-- Breadcrumb Content -->
              <ol class="breadcrumb">
                <li class="breadcrumb-item">Cars</li>
                <li class="breadcrumb-item">List Car</li>
                <li class="breadcrumb-item active" aria-current="page">
                  <span class="fw-normal">Update Car Information</span>
                </li>
              </ol>
            </nav>

            <!-- Section: Edit Form -->
            <section
              class="d-flex justify-content-between align-items-center px-3"
            >
              <h5 class="fw-bold">Update Car Information</h5>
            </section>

            <!-- Section: Content -->
            <form action="/cars/admin/edit/<%= car.id %>" method="post" class="bg-light py-5">
              <div class="container">
                <div>
                  <div class="col-12 col-lg-6">
                    <div class="row">
                      <div class="col-4">
                        <label
                          for="name"
                          class="form-label"
                          >Nama<i style="color: red">*</i></label
                        >
                      </div>
                      <div class="col-8">
                        <div class="mb-3">
                          <input
                            type="text"
                            class="form-control"
                            name="name"
                            value="<%= car.name %>"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <label
                          for="rentPerDay"
                          class="form-label"
                          >Sewa Per Hari<i style="color: red">*</i></label
                        >
                      </div>
                      <div class="col-8">
                        <div class="mb-3">
                          <input
                            type="number"
                            class="form-control"
                            name="rentPerDay"
                            value="<%= car.rentPerDay%>"
                            min="0"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <label
                          for="capacity"
                          class="form-label"
                          >Ukuran<i style="color: red">*</i></label
                        >
                      </div>
                      <div class="col-8">
                        <div class="mb-3">
                          <select
                            class="form-select"
                            name="capacity"
                            id="capacity"
                          >
                            <option hidden>ukuran</option>
                            <option value="Small" <% if (car.size === "Small") { %> selected <% } %>>Small</option>
                            <option value="Medium" <% if (car.size === "Medium") { %> selected <% } %>>Medium</option>
                            <option value="Large" <% if (car.size === "Large") { %> selected <% } %>>Large</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-4">
                        <label
                          for="image"
                          class="form-label"
                          >Foto<i style="color: red">*</i></label
                        >
                      </div>
                      <div class="col-8">
                        <div class="mb-3">
                          <div class="input-group">
                            <input
                              type="file"
                              class="form-control"
                              name="image"
                              accept="image/*"
                            />
                          </div>
                          <div class="form-text">
                            File Size Max 2Mb
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="btn-wrapper d-flex gap-3 position-absolute">
                <a href="/cars">
                  <button class="cancel-btn px-3 py-2 fw-bold" type="button">Cancel</button>
                </a>
                <button class="save-btn px-3 py-2 fw-bold" type="submit">Save</button>
              </div>
            </form>
          </main>
        </div>
      </div>
    </div>

    <!-- Script JS Untuk Bootstrap -->
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Script Sendiri Untuk Components -->
    <script type="module" src="../scripts/componentInsert.js"></script>
  </body>
</html>
